<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.test.Deal" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="24" />
	<application android:label="Deal" android:theme="@android:style/Theme.AppCompat.Light"></application>
</manifest>